[Desktop Entry]
Name=GNOME Nano Image Edit
Comment=A lightweight image editing utility
TryExec=gnome-nano-image-edit
Exec=gnome-nano-image-edit %F
Icon=com.github.konverner.gnome-nano-image-edit
Terminal=false
Type=Application
Categories=Graphics;GTK;
StartupNotify=true
StartupWMClass=gnome-nano-image-edit
